---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="bg-shapes">
      <Header class="absolute" />
      <Hero />
      <div id="projects" class="bg-gray-200 text-black py-8 md:py-16 lg:py-32">
        <Projects />
      </div>
      <div id="about" class="bg-gray-100 text-black py-8 md:py-16 lg:py-32">
        <About />
      </div>
      <Footer />
    </div>
  </body>
</html>
